/* You should probably replace this with your own CSS */
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
    text-align: center;
}

#RTPNavTitle {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: xx-large;
}

.input-SearchBar {
    width: 500px;
}

.LocCarousel {
    max-height: 300px;
}

.backBanner {
    /* The image used */
    background-image: url('https://images.pexels.com/photos/19652488/pexels-photo-19652488/free-photo-of-people-in-city-during-christmas-fair.jpeg');

    /* Set a specific height */
    min-height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
